@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, Montserrat, Sans-Serif;
    font-weight: 300;
    color: #453d40;
    background-color: #ffd7b5;
}

/* headings and logo */



h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #363438;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    
}

#menu,
#logo {
    line-height: 75px;
    
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;


}

#menu a:hover {
    padding-bottom: 5px;
    border-bottom: 3px solid #ff6700;

}


.active {
    padding-bottom: 5px;
    border-bottom: 3px solid #ff6700;
}

/* main image */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    
    position: relative;
}


#cover-text, #cover-text h2 {
    color: #fff;
}

#cover-text {
    font-size: 130%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 400px;
    height: 400px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(255, 103, 0, .5);

    bottom: 100px;
    right: 30px;

    position: absolute;
}


#main-image {
    height: 600px;
    width: 100%;
    background: url("../images/pexels-eternal-happiness-3326362.jpg") no-repeat center center/cover;

    /* animates zoom efffect on loading page */

    animation-name: main-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;

}


/* creates the level of xoom for main image */

@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}